.footer-box{
  height: 200px;
  width: 100%;
  border-top: 1px dashed whitesmoke;
  background: rgba(255, 255, 255, 20%);
}
.footer-title{
  font-size: 50px;
  padding: 20px;
  text-align: center;
  font-family: cursive;
  color: whitesmoke;
}
.footer-privacy{
  text-align: center;
}
.footer-pixel{
  padding: 30px;
  text-align: center;
}