* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-image: url(https://cdn.pixabay.com/photo/2016/08/05/09/31/banner-1571858__480.jpg);
  background-size: contain;
}
header {
  height: 8vh;
  width: 100%;
  padding: 20px 4% 20px;
  background-color: #fff;
  display: flex;
  align-items: center;
}
h1 {
  margin: 0;padding: 0;
  font-size: 20px;
}
a {
  text-decoration: none;
  color: #4b4b4b;
}
ul {
  margin: 0;
  display: flex;
}
li {
  margin: 0 0 0 15px;
  font-size: 14px;
}
nav {
  margin: 0 0 0 auto;
}
