* {
  box-sizing: border-box;
}
header {
  padding: 10px 4% 10px;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: whitesmoke;
}
a {
  text-decoration: none;
}
.header-title {
  margin: 0; padding: 0;
  font-size: 30px;
  font-family: cursive;
  color: black;
}
.upload {
  font-family: serif;
  padding: 7px 20px;
  border-radius: 25px; /*角丸*/
  color: #fff;
  background-image: linear-gradient(45deg,#FF6633 0%, #FF0066	); /*線形グラデーションを指定*/
  transition: .4s; /*時間を指定*/
}
.upload:hover {  /*カーソルを合わせた時に発動*/
  background-image: linear-gradient(45deg, #FFAAFF 0%, #FF3366);
}
.list {
  color: black;
  font-family: serif;
}
.search_container{
  box-sizing: border-box;
  position: relative;
  border: 1px solid #999;
  display: block;
  padding: 3px 10px;
  margin-left: 50px;
  border-radius: 20px;
  height: 2.3em;
  width: 260px;
  overflow: hidden;
  background-color: whitesmoke;
}
.search_container #name{
  border: none;  /* 周りの線を消す*/
  height: 2.2em;
  background-color: whitesmoke;
}
.search_container #name:focus{
  outline: 0;
  color: black;
}
.search_container input[type="submit"]{
  cursor: pointer; /*マウスカーソルの種類*/
  font-family: FontAwesome;
  font-size: 1.3em;
  border: none;
  background: none; /*背景の色を消す*/
  color: black;
  position: absolute;
  width: 2.5em;
  height: 2.5em;
  right: 0;
  top: -10px;
  outline: none;
}
nav {
  margin: 0 0 0 auto;
}
.header-ul {
  list-style: none;
  margin: 0;
  display: flex;
  align-items: center;
}
.header-list {
  margin: 0 0 0 15px;
  font-size: 14px;
}
.icon_image {
  width: 50px;
  height: 50px;
  border-radius: 100px;
  object-fit: cover;
}