<% if model.errors.any? %>
  <div class="alert-alert-warning">
    <ul class="error-text">
      <% model.errors.full_messages.each do |message| %>
        <li class="error-list">・<%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>