<div class="footer-box">
  <h2 class="footer-title">
    Pixel Exhibition
  </h2>

  <div class="footer-privacy">
    <%=link_to 'プライバシーポリシーと利用規約',page_path('privacy'),class:"privacy-link"%>
  </div>

  <div class="footer-pixel">
    <%=link_to 'Pixel',page_path('pixel'),class:"pixel-link"%>
  </div>
</div>