<div class="footer">
  <h2 class="footer-title">
    どこでも使える無料の画像投稿アプリ
  </h2>

  <p class="text">
    Pixel Exhibitionは誰でも無料で投稿できるアプリであり世界中の人々と画像を共有できるwebアプリです。<br>
    全てのコンテンツはPixel Exhibitionライセンスにおいて公開されておりクレジットなど著作者に対する許可は不要で安全にお使いいただけます。
  </p>
</div>

<div class="sab-footer">
  <h2 class="sab-footer-title">
    Pixel Exhibitionに登録する
  </h2>

  <p class="text">
    画像をアップロードして、世界中の人々と<br>
    ご自分の写真を共有しよう
  </p>

  <div class="btn">
    <%=link_to 'サインアップは無料です！',new_user_registration_path, class:"login-btn" %>
  </div>

</div>