<div class="footer">
  <h2 class="footer-title">
    どこでも使える無料の投稿アプリ
  </h2>
  <P>
    Pixel Exhibitionは誰でも無料で使えるアプリであり好きな時に画像を投稿できるアプリです。<br>
    誰でも気に入った画像の保存や使用はできます。著作者に対する許可やクレジットは不要で安全にお使いできます。
  </p>
</div>

<div class="sab-footer">
  <h2 class="sab-footer-title">
    Pixel Exhibitionに登録する
  </h2>
  <P class:>
    まずはPixel Exhibitionに登録して自分のお気に入りの画像を投稿してみよう<br>
    世界中の人々とご自分の画像を共有しています。
  </p>
  
  <div class="sign_up">
    <%= link_to "サインアップは無料です!",new_user_registration_path, class:"sign_up"%>
  </div>
</div>