<div class="footer-box">

  <h2 class="footer-title">
    Pixel Exhibition
  </h2>

  <div class="privacy">
    <%=link_to 'プライバシーポリシーと利用規約',page_path('privacy'),class:"privacy-link"%>
  </div>
  
  <div class="pixel">
     <%=link_to 'Pixel',page_path('pixel'),class:"pixel-link"%>
  </div>

  <div class="twitter-box">
    <a href="https://twitter.com/k_kina01" class="btn-social-icon-twitter">
      <span class="btn-social-icon-twitter__square"><i class="fa fa-twitter"></i></span>
    </a>
  </div>

</div>