
<div class="pixel-box">
  <h2 class="pixel-title">
    pixel
  </h2>

  <p class="pixel-text">
    Pixelは皆さんが不満なく使用できるように開発すると同時に、今後また新しい機能などを取り入れようと心がけています。<br>
    皆さんが驚く<span class="pixel_text">Pixel Exhibition</span>を開発できるよう応援してくださると嬉しいです。
  </p>

  <h2 class="pixel-name">
    Pixel開発者より
  </h2>

  <div class="privacy-btn">
    <%= link_to 'トップページに戻る', root_path, class:"root_btn"%> 
  </div>
</div>

