.login-box{
  width: 100%;
  padding: 30px;
  animation-name: fadein;
  animation-duration: 3s;
  animation-iteration-count: 1;
}
.login-title{
  font-size: 50px;
  font-family: cursive;
  text-align: center;
  color: whitesmoke;
}
.login-text-box{
  text-align: center;
  padding: 20px;
}
.login-text{
  font-family: serif;
  font-size: 20px;
  position: relative;
  display: inline-block;
  padding: 0 55px;
  color: whitesmoke;
}
.login-text:before, .login-text:after {
  content: '';
  position: absolute;
  top: 50%;
  display: inline-block;
  width: 45px;
  height: 1px;
  background-color: whitesmoke;
}
.login-text:before {
  left:0;
}
.login-text:after {
  right: 0;
}

.login-content{
  height: 500px;
  width: 500px;
  margin: 0 auto;
}
.label{
  text-align: center;
  padding: 10px 0 10px;
  color: whitesmoke;
}
.file-upload-button{
  text-align: center;
}
#user_image{
  color: whitesmoke;
  padding: 10px;
}
#user_nickname{
  width: 70%;
  padding: 10px;
  outline: none;
  border: none;
  display: block;
  margin: 0 auto;
}
#user_email{
  width: 70%;
  padding: 10px;
  outline: none;
  border: none;
  display: block;
  margin: 0 auto;
}
#user_password{
  width: 70%;
  padding: 10px;
  outline: none;
  border: none;
  display: block;
  margin: 0 auto;
}
#user_password_confirmation{
  width: 70%;
  padding: 10px;
  outline: none;
  border: none;
  display: block;
  margin: 0 auto;
}
.btn{
  display: block;
  margin: 50px auto 30px;
  font-family: serif;
  color: whitesmoke;
  padding: 7px 100px;
  border-radius: 25px;
  border: none;
  background-image: linear-gradient(45deg,#FF6633 0%, #FF0066	);
}
.btn:hover {
  background-image: linear-gradient(45deg, #FF66CC 0%, #FF3366);
}
.root-btn-login{
  text-align: center;
}
.root-login-btn{
  margin: 50px auto;
  font-family: serif;
  color: whitesmoke;
  padding: 7px 30px;
  border-radius: 25px;
  border: none;
  background-image: linear-gradient(45deg,#FF6633 0%, #FF0066	);
}
.root-login-btn:hover {
  background-image: linear-gradient(45deg, #FF66CC 0%, #FF3366);
}