@keyframes fadein{
  0% {opacity: 0}
    100% {opacity: 1}
}
body{
  background-image: url(https://cdn.pixabay.com/photo/2016/06/05/07/59/stars-1436950_1280.jpg);
}
.Main{
  width: 100%;
  animation-name: fadein;
  animation-duration: 7s;
  animation-iteration-count: 1;
}
.main-box{
  height: 470px;
  display: flex;
}
.main-image{
  height: 250px;
  width: 400px;
  border: 3px solid whitesmoke;
  position: relative;
  top: 50px;
  left: 100px;
  transform: rotate(-10deg);
  box-shadow: 0 0 30px rgba(0, 0, 0, 1);
  background-image: url(https://cdn.pixabay.com/photo/2018/01/01/18/57/butterfly-3054736_1280.jpg);
  background-size: cover;
}
.main-image2{
  height: 250px;
  width: 400px;
  border: 3px solid whitesmoke;
  position: relative;
  top: 170px;
  right: 100px;
  transform: rotate(10deg);
  box-shadow: 0 0 30px rgba(0, 0, 0, 1);
  background-image: url(https://cdn.pixabay.com/photo/2017/02/08/17/24/butterfly-2049567_1280.jpg);
  background-size: cover;
}
.main-title{
  font-size: 70px;
  color: white;
  font-family: cursive;
  position: absolute;
  right: 200px;
  top: 280px;
}
.main-text{
  font-size: 30px;
  color: white;
  font-family: cursive;
  position: absolute;
  right: 150px;
  top: 350px;
}

.about-title{
  font-family: serif;
  font-size: 40px;
  padding: 10px;
  color: white;
  text-align: center;
  border-bottom: 1px solid whitesmoke;
  border-top: 1px solid whitesmoke;
  background: rgba(255, 255, 255, 30%);
}
.about{
  width: 100%;
  padding: 50px;
}
.about-text{
  font-size: 20px;
  font-family: serif;
  text-align: center;
  color: whitesmoke;
}

.post-title{
  font-family: serif;
  font-size: 30px;
  padding: 10px;
  color: white;
  text-align: center;
  border-bottom: 1px solid whitesmoke;
  border-top: 1px solid whitesmoke;
  background: rgba(255, 255, 255, 30%);
}

.posts-content{
  height: 500px;
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
  overflow-x: scroll;
}
.post-image{
  height: 200px;
  margin: 0 10px 0 10px;
}
.post-name{
  color: white;
  font-family: serif;
}

.test{
  font-family: cursive;
}
