.new-main{
  width: 100%;
  padding: 20px;
  animation-name: fadein;
  animation-duration: 3s;
  animation-iteration-count: 1;
}
.new-main-content{
  height: 600px;
  width: 50%;
  margin: 0 auto;
}
.new-title{
  padding: 20px 0 10px 0;
  font-size: 70px;
  font-family: cursive;
  text-align: center;
  color: whitesmoke;
}
.new-text-content{
  text-align: center;
}
.new-text{
  font-size: 20px;
  font-family: cursive;
  color: whitesmoke;
  position: relative;
  display: inline-block;
  padding: 0 55px;
}
.new-text:before, .new-text:after {
  content: '';
  position: absolute;
  top: 50%;
  display: inline-block;
  width: 45px;
  height: 1px;
  background-color: whitesmoke;
}
.new-text:before {
  left:0;
}
.new-text:after {
  right: 0;
}



/* form */
#post_image{
  display: block;
  margin: 30px auto 0;
  color: whitesmoke;
  font-family: serif;
}
#post_name{
  width: 400px;
  padding: 15px 15px 10px 15px;
  border: none;
  outline: none;
  border: 1px solid whitesmoke;
  display: block;
  margin: 30px auto 0;
}
#post_text{
  height: 100px;
  width: 400px;
  padding: 15px;
  margin: 30px auto 0;
  border: 1px solid whitesmoke;
  outline: none;
  display: block;
}
.post-btn{
  display: block;
  margin: 30px auto;
  color: whitesmoke;
  padding: 7px 100px;
  border-radius: 25px;
  border: none;
  background-image: linear-gradient(45deg,#FF6633 0%, #FF0066	);
}
.post-btn:hover {
  background-image: linear-gradient(45deg, #FF66CC 0%, #FF3366);
}
.new-post-btn{
  text-align: center;
}
.new-btn{
  color: whitesmoke;
  padding: 7px 30px;
  border-radius: 25px;
  border: none;
  background-image: linear-gradient(45deg,#FF6633 0%, #FF0066	);
}
.new-btn:hover {
  background-image: linear-gradient(45deg, #FF66CC 0%, #FF3366);
}
/* form */