.show-box{
  width: 100%;
  animation-name: fadein;
  animation-duration: 5s;
  animation-iteration-count: 1;
}
.show-contents{
  height: 500px;
  width: 80%;
  display: flex;
  margin: 20px auto;
  background: rgba(255, 255, 255, 70%);
}

/* 投稿箇所 */
.show-content{
  height: 100%;
  width: 50%;
  padding: 20px;
}
.show-image{
  height: 300px;
  border: 5px ridge whitesmoke;
}
.show-posts{
  font-family: serif;
  padding-top: 10px;
  display: flex;
  align-items: center;
}
.show-likes-btn{
  color: #FFF;
  margin-left: 10px;
  padding: 0 20px;
  border-radius: 25px;
  border: none;
  outline: 0;
  display: inline-block;
  background-image: linear-gradient(45deg,#FF6633 0%, #FF0066	);
}
.show-likes-btn:hover {
  background-image: linear-gradient(45deg, #FF66CC 0%, #FF3366);
}
.show-name{
  padding-top: 20px;
  font-size: 20px;
  font-family: serif;
  text-align: center;
}
.show-created_at{
  font-family: serif;
  text-align: center;
  padding-top: 10px;
}
.show-text{
  font-family: serif;
  text-align: center;
  padding-top: 20px;
}
/* 投稿箇所 */


.show-content2{
  height: 100%;
  width: 50%;
  padding: 20px;
}
.show-user-content{
  width: 100%;
  display: flex;
  align-items: center;
}
.show-icon{
  width: 70px;
  height: 70px;
  display: block;
  border-radius: 100px;
  object-fit: cover;
}
.show-nickname{
  font-size: 20px;
  font-family: serif;
  margin-left: 20px;
}
.show-user-created_at{
  font-size: 20px;
  font-family: serif;
  margin-left: 90px;
}
.show-comment{
  height: 250px;
  width: 100%;
  margin-top: 20px;
  padding: 20px;
  overflow-x: scroll;
  background-color: whitesmoke;
}


/* コメント */
.comment-text{
  width: 400px;
  padding: 10px;
  border: 1px solid white;
  display: block;
  margin: 10px auto 0;
}
.comment-btn{
  display: block;
  margin: 10px auto;
  color: whitesmoke;
  padding: 7px 50px;
  border-radius: 25px;
  border: none;
  background-image: linear-gradient(45deg,#FF6633 0%, #FF0066	);
}
.comment-btn:hover {
  background-image: linear-gradient(45deg, #FF66CC 0%, #FF3366);
}
/* コメント */